<div id="nav">
    <%= image_tag "Logo.png", class: "logo"%>
    <ul class="group">
        <li>News</li>
        <%= link_to "LT Custom", "/lt_project/index" %>
        <%= link_to "Introdution", "/introduction/index" %>
        <%= link_to "Story", "/story/index" %>
        <%= link_to "Character", "/character/index" %>
        <%= link_to "Staff", "/staff/index" %>
        <!-- <%= link_to "Share", "/share/index" %> -->
        <a href="https://twitter.com/LT_PROJECT_">Share</a>
    </ul>
</div>

<!-- <canvas class="" id="canvas">Canvas is not supported in your browser.</canvas> -->



<div class="main_card">
    <div class="chara">
        <div id="leit" class="chara_div">
            <%= image_tag "leit_crop.png", class: "chara_img"%>
    
            <div class="in_img">
                <%= image_tag "leit_name.png", class: "chara_name"%>
            </div>
        </div>
        <div class="lita chara_div">
            <%= image_tag "lita_crop.png", class: "chara_img"%>
    
            <div class="in_img">
                <%= image_tag "lita_name.png", class: "chara_name"%>
            </div>
        </div>
        <div class="lotto chara_div">
            <%= image_tag "lotto_crop.png", class: "chara_img"%>
    
            <div class="in_img">
                <%= image_tag "lotto_name.png", class: "chara_name"%>
            </div>
        </div>
        <div class="latte chara_div">
            <%= image_tag "latte_crop.png", class: "chara_img"%>
            
            <div class="in_img">
                <%= image_tag "latte_name.png", class: "chara_name"%>
            </div>
        </div>
    </div>

</div>

<div class="card card2">
    <h1>NEWS</h1>
</div>
<div class="card card3">
    <h1>ABOUT</h1>
</div>
<div class="card card4">
    <h1>LT CUSTOM</h1>
</div>
<div class="card card5">
    <h1>SPONSOR</h1>
</div>




